<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find turtlebot_world)/urdf/Part1.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find turtlebot_world)/urdf.rviz" />
</launch>
